<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{"Danh sách film" | localize}}</span>
                    </h3>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body  kt-portlet__body--fit">
                    <p>XEM NGAY NGÀY HÔM NAY ĐỂ THƯỞNG THỨC CÁC BỘ PHIM TUYỆT VỜI NHẤT!</p>
                </div>
                <div>
                    <button 
                        class="bg-primary px-3 py-2 fs-4 shadow mb-3 fw-bold text-white border-0"
                        (click)="ShowAddPopup()">
                        Thêm phim
                    </button>
                </div>
                <div
                    id="addPopup"    
                    class="d-none">
                    <div style="background-color: #b8b8b8;" class="p-3">
                        <div class="row">
                            <div class="col-2 mb-3"><label for="filmName">Name</label></div>
                            <div class="col"><input id="filmName" ></div>
                            
                            
                        </div>
                        <div class="row">
                            <div class="col-2 mb-3"><label for="description">Description</label></div>
                            <div class="col"><input id="description" ></div>
                            
                           
                        </div>
                        <div class="row">
                            <div class="col-2 mb-3"><label for="pictureLink">Picture's Link</label></div>
                            <div class="col"><input id="pictureLink" ></div>
                            
                            
                        </div>
                        <div class="row">
                            <div class="col-2 mb-3"><label for="price">Price</label></div>
                            <div class="col"><input id="price" ></div>
                            
                            
                        </div>                        
                        <button type="submit" (click)="AddFilm()">Xác nhận</button>
                    </div>
                          
                </div>
                <div class="row ">
                    <div *ngFor="let item of data" class="col-lg-2 col-12 mb-3">
                        <div class="border shadow p-5 d-flex justify-content-center">
                            <div class="row">
                                <div class="">
                                    <img [src]="'https://' + item.pictureLink" class=""  style="max-width: 200px; max-height: 300px;"/>     
                                </div>                          
                                <div class="fw-bold fs-3">{{item.name}}</div>
                                <div class="fst-italic fs-5">{{item.description}}</div>
                                <button class="btn btn-primary" (click)="DeleteFilm(item.id)">Xóa</button>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
</div>